@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.post-container {
  width: 50rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--light-gray);
  display: grid;
  grid: minmax(min-content, max-content) repeat(4, 1fr) 4rem / repeat(8, 1fr);
  gap: 1rem 1rem;
  grid-template-areas: 
    'vote title title title title title title title'
    'vote content content content content content content content'
    'vote content content content content content content content'
    'vote content content content content content content content'
    'vote content content content content content content content'
    'vote comment comment comment comment comment comment comment';
  grid-auto-rows: auto;
}

.title-container {
  grid-area: title;
  border-radius: 1rem;
  padding-top: 1rem;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5rem;
  color: var(--main-red);
}

.content-container {
  grid-area: content;
}

.media-container {
  display: flex;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.text-display {
  width: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  word-break: break-all;
}

.upvotes-container {
  grid-area: vote;
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  padding: 100% 0;
  font-size: 1.5rem;
  color: gray;
}

.upvote-count {
  font-size: 1rem;
}

.period-loading {
  display: flex;
  height: 2rem;
}

.period-animation {
  display: flex;
  height: 1rem;
  align-items: center;
}

.data-container {
  grid-area: comment;
  border: 1px solid var(--light-gray);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 1rem;
  padding: 0 2rem;
}

.subreddit-display {
  height: 1rem;
  font-size: 0.8rem;
}

.subreddit-display span {
  color: red;
}

.stats-container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.time-display {
  height: 1rem;
  margin-right: 3rem;
  font-size: 0.8rem;
}

.comments-container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.comments-icon {
  margin-right: 1rem;
}

.comments-icon:hover {
  color: red;
  cursor: pointer;
}

/*Animations*/
@keyframes loading {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}
