@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.about-container {
  width: 90%;
  padding: 1rem;
  background-color: white;
  border: 2px solid var(--light-gray);
  border-radius: 1rem;
}

.subreddit-container {
  display: flex;
  align-items: center;
}

.reddit-icon-container-margin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  aspect-ratio: 1/1;
  background-color: greenyellow;
  border-radius: 3rem;
  margin-right: 1rem;
}

.reddit-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 2.5rem;
  background-color: var(--main-red);
  color: white;
  font-size: 5rem;
  overflow: hidden;
}

.reddit-icon {
  width: 5.1rem;
  aspect-ratio: 1/1;
}

.subName {
  font-family: 'Varela Round';
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--main-red);
}

.about-text-container {
  display: inline-flex;
  flex-flow: column;
  padding: 1rem 2rem;
}

.about-header {
  font-family: 'Varela Round';
  font-size: 2rem;
  font-weight: bold;
  color: rgb(77, 76, 76);
  margin-bottom: 1rem;
}

.about-text {
  font-family: 'Varela Round';
  font-size: 1.2rem;
  color: rgb(77, 76, 76);
}