/*MenuBar*/
.menuBar {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: transparent;
  width: 25rem;
  height: 100vh;
}

.hideMenuBar {
  transform: translateX(-100%);
  transition: transform 0.7s;
}

.returnMenuBar {
  transform: translateX(0);
  transition: transform 0.7s;
}

.hide-menu {
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
  justify-content: flex-end;
  background-color: var(--main-red);
}

.about-menu {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  height: 50vh;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.6);
}

.subreddit-menu {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50vh - 4rem);
  background-color: rgba(255, 0, 0, 0.6);
  overflow-y: scroll;
}

.subreddit-menu::-webkit-scrollbar{
  display: none;
}

/*Arrow*/
.arrowIcon {
  color: white;
  font-size: 2rem;
}

.arrowIcon:hover {
  cursor: pointer;
  animation-name: arrow;
  animation-timing-function: ease-out;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  0% {
    transform: translateX(0) scale(1.5);
  }
  50% {
    transform: translateX(-30%) scale(1.5);
  }
  100% {
    transform: translateX(0) scale(1.5);
  }
}
